/*Author: J. Hawkins*/
/*Copyright 2021. GNU General Public License v3.0*/
/*Permissions of this strong copyleft license are conditioned on making available complete source code of*/
/*licensed works and modifications, which include larger works using a licensed work, under the same license.*/
/*Copyright and license notices must be preserved. Contributors provide an express grant of patent rights.*/

body {
    font-family: verdana, sans-serif;
    color: #f1f1f1;
    background-color: black;
    margin: .2vw 2vw;
}

table, tr, td {
    text-align: left;
    vertical-align: top;
    border: 1px solid #333333;
    border-collapse: collapse;
}

table {
    width: 100%;
}

caption {
    text-align: left;
}


h3 {
    text-align: center;
    margin-top: 0;
    padding: .2vw;
}

.itemheader {
    background-color: #777;
    color: white;
    cursor: pointer;
    font-size: large;
    margin: .2vw 0;
    padding: .2vw;
}

.item {
    margin: .2vw 0;
    padding: .2vw;
    /*display: none;*/
    overflow: hidden;
    background-color: #f1f1f1;
}

.slot {
    padding: 0;
    margin: .2vw;
    font-size: medium;
    color: navajowhite;
}

.augment {
    padding: 0;
    margin: 0;
    display: inline;
}

.color {
    padding: 0;
    margin: 0;
    font-size: small;
    color: lightblue;
    display: inline;
}

.ench {
    padding: 0;
    margin: 1px;
    font-size: small;
    display: inline;
}

.selected {
    background-color: yellow;
}


.itemheader:hover, .slot:hover, .color:hover {
    background-color: #444;
    cursor: pointer;
}

button:hover:enabled {
    background-color: #555;
    cursor: pointer;
}



button:disabled,
button[disabled] {

}


.handled {
    background-color: lightgoldenrodyellow;
}

.result {
    font-size: small;
    border: .5vw solid #f1f1f1;
    margin: 2vw 2vw 0 2vw;
    padding-top: .2vw;
    padding-bottom: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    color: lightgreen;
}

.loadSave {
    margin: 0 0 2vw 0;
    padding-top: .2vw;
    padding-bottom: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

.loadSaveBtn {
    /*display:block;*/
    width:120px;
    height:30px;
}

.charName {
    /*display:block;*/
    width:240px;
    height:30px;
}